body {
    min-width: 210px;
    margin: 5px;
    overflow-x: auto;
    font-family: Arial, Tahoma, Geneva;
    font-size: 10pt;
    background: #E8E8E8;
    padding-bottom: 10px;
    max-width: 250px;
}
#logo-text {
	float: right;
	text-align: center;
	margin: 5px;
	font-size: 13pt;
	width: 150px;
}
.errorBox{color: red;}
.loader{margin-top: 10px; text-align: center; display: none;}
.loader img {margin-right: 10px; vertical-align: middle;}
